.container {
  display: flex;
  height: 100vh;
}

.contacts-list-sidebar {
  flex-grow: 1;
  border-right: 1px solid rgba(0,0,0,.2);
}

.contact-details {
  flex-grow: 2;
}

.contact-timeline {
  flex-grow: 3;
}
